h2{text-align: center;font-size: 16px;padding: 20px;}
.page-1{background-color: #e1f3fa;}
.page-2{background-color: #ffedd5;}
.page-3{background-color: #dcfafd;}
.page-4{background-color: #fcd4db;}
.page-5{background-color: #fbe6e8;}
.page-6{background-color: #fbfde4;}